*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Bitter', serif;
}
a{
   text-decoration: none;
}
span{
   display: block;
   padding: 0.25rem 0;
}
h1{
   font-size: 3.125rem;
   color: gray;
   font-family: 'Dosis', sans-serif;
}
.lead{
   line-height: 1.6rem;
   color: #181717;

}
/* Header-Navigation Area */
#header-section{
   background: #fafafa;
   padding-bottom: 4rem;
}
.navbar{
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 1rem 0;
   box-shadow: 0px 0px 10px #ebeaea;
   padding: 0 4rem;
   height: 4rem;
}
.navbar-brand a{
   font-size: 1.25rem;
   text-transform: uppercase;
   font-weight: 700;
   color: #f8a409;
}
.navbar-list .nav-item{
   display: inline-block;
   list-style: none;
   padding: 0 1.5rem;
}
.nav-item a{
   color: black;

}
/* Header-Hero-Area */
#header-hero{
   padding-top: 4rem;
}
.container{
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 5%;
}
.half-width {
   width: 50%;
}
.link-btn{
   background-color: #f58700;
   background-image: linear-gradient(40deg, #f58700 0%, #FB6262 100%);
   color: white;
   display: inline-block;
   padding: 0.875rem 2.5rem;
   border-radius: 1.5625rem;
   margin-top: 2rem;
   box-shadow: 0px 0px 13px #F58700;
}
.hero-content{
   width: 70%;
}
.hero-content h1{
   margin-bottom: 3rem;
   margin-top: 4rem;
}
.heading-color{
   color: #f58700;
}
.hero-img img{
   width: 100%;
}

/* About us Section */
#about-section{
   background-image: url(images/about-us-bg.jpg);
   background-repeat: no-repeat;
   height: 100%;
   padding-bottom: 100px;
}
.about-content{
   padding-top: 8rem;
   width: 100%;
}
.about-img img{
   width: 64%;
   margin-top: 3rem;
   margin-left: 5rem;
}
.about-content h1{
   margin-bottom: 2rem;
}
.about-btn{
   margin-top: 5rem;
}

/* Recipe Section */
.recipe-title{
   text-align: center;
   width: 50%;
   margin: 0 auto;
}
.recipe-title p{
   margin-top: 1.5rem;
}
.card-padding{
   padding-top: 5rem;
   padding-bottom: 5rem;
}
.card{
   width: 30%;
   box-shadow: 0px 0px 13px #ebeaea;
   border-radius: 25px;
   padding: 1rem;
}
.card-img img{
   width: 100%;
   margin-bottom: 2rem;
   border-radius: 25px;
}
.card-content{
   padding-bottom: 1rem;
}
.card-content h2{
   margin-bottom: 1rem;
}
/* Counter-Section */
#counter-section{
   padding: 5rem 0;
}
.counter{
   width: 100%;
   box-shadow: 0px 0px 15px #ebeaea;
   border-radius: 25px;
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.counter-item{
   width: 30%;
   text-align: center;
   padding: 2rem 0;
}
.counter-item h1{
   margin-bottom: 0.5rem;
}
/* Footer Section */
#footer-section{
   background: #f3f2f2;
}
.footer-content{
   width: 100%;
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.footer-item{
   width: 30%;
   padding: 2rem 0;
   color: #000000;
}
.footer-item h3{
   margin-bottom: 1.5rem;
}
.footer-nav{
   list-style: none;
}
.footer-nav li a{
   margin-bottom: 0.5rem;
   display: inline-block;
   color: black;
}
.brand{
   color: #f58700;
   font-weight: 900;
   font-size: 3rem;
   display: inline-block;
   margin-bottom: 1rem;
}
/* Footer Bottom */
.footer-bottom{
   background: #000;
   color: white;
   height: 80px;
   line-height: 80px;
   text-align: center;
}